<ion-header>
    <ion-navbar color="primary">
        <ion-title align="center">Tareas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>Tareas Pendientes</ion-list-header>

        <button ion-item *ngFor="let lista of listas" (click)="listaSelected(lista)">
             {{ lista.titulo }}
        </button>
    </ion-list>

    <ion-fab bottom right>
        <button (click)="showPrompt()" ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>